.waybill td, th {
  padding-right: 1em;
}
.waybill td:nth-child(2) {
  text-align: right;
}
.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.hidden {
  display: none;
}
.service_drops_text {
  height: 30em;
}
.transformer_types_csv {
  height: 30em;
}
.conductor_types_csv {
  height: 30em;
}
.error {
  background-color: red;
  color: white;
  font-weight: bold;
}
